<%= form_with model: @user, local: true do |form| %>
  <div class="text-field field">
    <label class="label">Crew Code</label>
    <div class="control has-icons-left">
      <%= form.text_field :crew_join_code, value: params[:crew_join_code],
                          class: 'input is-large', placeholder: 'crew code', required: true %>
      <span class="icon is-small is-left">
        <i class="fas fa-user-secret"></i>
      </span>
    </div>
  </div>

  <hr>

  <div class="text-field field">
    <nav class="level">
      <div class="level-item">
      <div class="control has-icons-left">
        <%= form.text_field :first_name, class: 'input',
                            placeholder: 'first name', required: true %>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </div>
      </div>
      <div class="level-item">
        <div class="control has-icons-left">
          <%= form.text_field :last_name, class: 'input',
                              placeholder: 'last name', required: true %>
          <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>
        </div>
      </div>
    </nav>
  </div>

  <div class="text-field field">
    <div class="control has-icons-left">
      <%= form.text_field :email, type: 'email', class: 'input',
                          placeholder: 'email', required: true %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="password-field field">
    <div class="control has-icons-left">
      <%= form.password_field :password, type: 'password', class: 'input',
                              placeholder: 'password', required: true %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </div>
  </div>

  <div class="submit-field">
    <%= form.submit class: 'button is-primary' %>
  </div>

  <div class="other-links has-text-centered">
    <%= link_to 'Sign In', sign_in_path %>
  </div>
<% end %>
