<div id="clearance" class="password-reset columns is-centered">
  <div class="box column is-four-fifths-mobile is-half-tablet is-two-fifths-desktop">
    <h2 class="title is-4"><%= t(".title") %></h2>

    <p><%= t(".description") %></p>

    <%= form_for :password, url: passwords_path do |form| %>
      <div class="text-field field">
        <div class="control has-icons-left">
          <%= form.text_field :email, type: 'email', class: 'input', placeholder: 'email' %>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>

      <div class="submit-field">
        <%= form.submit class: 'button is-primary' %>
      </div>
    <% end %>
  </div>
</div>
