<%= form_with model: [@crew, current_user, @post], local: true do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_field :title,
                       placeholder: 'Title', required: true,
                       maxlength: 250, class: 'input is-large' %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.rich_text_area :body,
                           placeholder: 'Write your thoughts here...' %>
    </div>
  </div>
  <%= f.fields_for :background_image,
                   (@post.build_background_image unless @post.background_image) do |ff| %>
    <%= ff.hidden_field :image_url %>
  <% end %>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'Post!',
                   class: 'button is-primary' %>
    </div>
    <div class="control">
      <%= link_to 'Cancel', crew_user_posts_path(@crew, current_user),
                  class: 'button is-text' %>
    </div>
  </div>
<% end %>
