<div class="columns is-multiline posts-container">
  <% posts.each do |post| %>
    <div class="column is-one-third">
      <div class="box">
        <h4 class="post-title is-size-4">
          <%= link_to post.title.truncate(30), crew_user_post_path(@crew, current_user, post) %>
        </h4>
        <p class="byline"><%= byline_text(name: post.posted_by.name.familiar, updated_at: post.updated_at) %></p>
        <hr>
        <p><%= truncate(post.body.to_plain_text, length: 120) %></p>

        <nav class="level">
          <div class="level-left">
            <% if policy(post).go_live? && !(post.live? || post.archived?) %>
              <%= link_to 'Go Live!', go_live_crew_user_post_path(@crew, current_user, post),
                          data: { behavior: 'go-live' }, class: 'button is-primary' %>
            <% end %>
          </div>
          <div class="level-right">
            <% if policy(post).edit? %>
              <%= link_to edit_crew_user_post_path(@crew, current_user, post),
                          class: 'button is-text' do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>

            <% if policy(post).archive? && !post.archived? %>
              <%= link_to archive_crew_user_post_path(@crew, current_user, post),
                          data: { behavior: 'archive' }, class: 'button is-text' do %>
                <i class="fas fa-archive"></i>
              <% end %>
            <% end %>

            <% if policy(post).destroy? %>
              <%= link_to crew_user_post_path(@crew, current_user, post),
                          data: { behavior: 'delete' }, class: 'button is-text' do %>
                <i class="fas fa-trash"></i>
              <% end %>
            <% end %>
          </div>
        </nav>
      </div>
    </div>
  <% end %>
</div>
