<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item is-size-3", style: "color: white;" do %>
      <i class="fas fa-gifts"></i>
      <i class="fas fa-beer"></i>
      AdventBeer.com
    <% end %>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <% if signed_in? %>
        <div class="navbar-item">
          <%= link_to crew_user_posts_path(@crew, current_user), class: 'button is-light' do %>
            <i class="fas fa-home"></i>
          <% end %>
        </div>
        <div class="navbar-item">
          <%= link_to new_crew_user_post_path(@crew, current_user), class: 'button is-primary' do %>
            <i class="fas fa-pen-nib"></i>
            <i class="fas fa-plus"></i>
          <% end %>
        </div>
        <div class="navbar-item"></div>
        <div class="navbar-item">
          <%= button_to sign_out_path, method: :delete, class: 'button is-link' do %>
            <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </div>
      <% else %>
        <div class="navbar-item">
          <%= link_to 'Join', sign_up_path, class: 'button is-primary' %>
        </div>
        <div class="navbar-item">
          <%= link_to 'Sign In', sign_in_path, class: 'button is-light' %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
