<nav class="navbar is-fixed-top" id="advent-beer-navbar"
     role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class: "navbar-item is-size-3" do %>
        <span id="navbar-logo">AdventBeer</span>
      <% end %>
      <a role="button" class="navbar-burger burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <% if signed_in? %>
          <div class="navbar-item">
            <%= link_to crew_user_posts_path(@crew, current_user), class: 'button is-light' do %>
              <i class="fas fa-home"></i>
              Home
            <% end %>
          </div>
          <% if @crew_membership&.poster? %>
            <div class="navbar-item">
              <%= link_to new_crew_user_post_path(@crew, current_user), class: 'button is-primary' do %>
                <i class="fas fa-plus"></i>
                <i class="fas fa-pen-nib"></i>
                New
              <% end %>
            </div>
          <% end %>
          <% if current_user.has_many_crews? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <%= @crew.name %>
                <i class="fas fa-angle-down"></i>
              </a>
              <div class="navbar-dropdown">
                <% current_user.crews.each do |crew| %>
                  <%= link_to crew.name,
                              crew_posts_path(crew),
                              class: 'navbar-item' %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="navbar-item is-hidden-touch"></div>
          <div class="navbar-item">
            <%= button_to sign_out_path, method: :delete, class: 'button is-link' do %>
              <i class="fas fa-sign-out-alt"></i>
              Sign Out
            <% end %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to 'Join', sign_up_path, class: 'button is-primary' %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Sign In', sign_in_path, class: 'button is-light' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
